.container {
    background-color:midnightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11vh;
  }

.button{
background-color: white;
  color: black;
  border: 2px solid orange;
  padding: 10px 20px;
  font-size: 35px;
height: 50px;
width: 250px;
}
.button h1{
    font-size: 24px; /* Adjust the font size as needed */
    margin: 0;
}

.button h6{
    font-size: 12px; /* Adjust the font size as needed */
  margin: 0;
}
  .email-input {
    padding: 3px 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #888; /* Light grey color */
  }
  
  .subscribe-button {
    padding: 3px 10px;
    background-color: black; 
    color: #fff;
    border: none;
    cursor: pointer;
  }
 
 .two{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
 }
.box1{
    display: flex;
    align-items: center;
  justify-content: center
}
.pic1{
    max-width: 100%;
    max-height:100%;
}

.text1{
    font-size: 20px;
  padding-left: 20px;
  position: relative;
}
.orangeB{
  margin-left: 220px;
}
